<%- include('header') %>
        <div class="row mb-5">
            <div class="col">
                <h1><%= title %></h1>
    <p><%= message %></p>
    <ul>
        <% items.forEach((items)=>{ %>
           <li><%= items %></li>
      <%  }) %>
    </ul>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>University</th>
        </thead>
        <tbody>
           <% data.forEach((data)=>{ %>
            <tr>
            <td><%= data.name _%></td>
            <td><%= data.age _%></td>
            <td><%= data.university _%></td>
            </tr>
         <%  }) %>
        </tbody>
    </table>
            </div>
        </div>
        
       <%- include('footer') %>
